:root {
	--font-family: "IBM Plex Sans", system-ui, sans-serif;
	--font-mono: "IBM Plex Mono", monospace, system-ui;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family);
	font-weight: 500;
}

h1 {
	font-size: 2rem;
}

p {
	margin-bottom: var(--space-3);
}
