<footer class="footer footer--grid footer--cv">
	<div class="footer__contact">
		<div class="footer__logo">
			{% assign subgenre_title = page.subgenre_title | default: layout.subgenre_title | default: "JEDN | Portfolio" %}
			{{ subgenre_title }}
		</div>

		<nav class="footer__contact-nav">
			<ul class="footer__contact-list">
				{% for item in site.data.contact %}
				<li class="footer__contact-option">
					<a href="{{item.link}}">{{item.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>

	<nav class="footer__menu">
		<a href="#" class="btn btn--outline footer__top-button">To Top</a>
		<h4 class="footer-header" id="menu">Menu</h4>
		<ul class="footer__nav-ul">
			{% for item in site.data.footer_navigation %}
			<li>
				<a href="{{item.link}}">{{item.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</footer>
