<footer class="footer footer--grid footer--cv">
	<div class="footer__left">
		<div class="footer__logo">
			{% assign subgenre_title = page.subgenre_title | default: layout.subgenre_title | default: "JEDN | Portfolio" %}
			{{ subgenre_title }}
		</div>
	</div>

	<nav class="footer__right" id="menu">
		<h4 class="footer-header">Menu</h4>
		<a href="#">To top</a>
		<ul class="footer__nav-ul">
			{% for item in site.data.footer_navigation %}
				<li>
					<a href="{{item.link}}">{{item.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</footer>

