<head>
	<meta charset="utf-8">

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/styles.css?v={{ site.time | date: '%s' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% feed_meta %}
	{% seo %}

	{% assign title = page.title | default: layout.title | default: "Portfolio | JEDN" %}
	<title>{{ title }}</title>
</head>
