.post__top-matter {
	margin: var(--space-5) 0;
}

.post__info-bar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-3);
	margin: var(--space-3) 0;
}

.post__info-bar a[href="#cool-part"] {
	@media only screen and (min-width: 800px) {
		margin-left: auto;
	}
}

.post__content {
	h2 {
		margin-bottom: var(--space-4);
		margin-top: var(--space-5);
	}

	hr {
		width: 75%;
		margin: var(--space-7) auto;
	}

	figure > img {
		margin: var(--space-2) auto;
	}

	figure {
		margin: var(--space-5) 0;
		text-align: center;
	}

	figcaption {
		text-wrap: balance;
		font-style: normal;
		font-weight: 400;
	}

	ul,
	ol {
		margin: var(--space-4) 0;
		padding-left: var(--space-5);
	}

	/* Reference links (ieee style) */
	sup[id^="fnref:"] {
		vertical-align: baseline;
		font-size: inherit;
		color: inherit;
	}

	a.footnote {
		text-decoration: none;
		color: inherit;
	}

	a.footnote::before {
		content: "[";
	}

	a.footnote::after {
		content: "]";
	}

	.footnotes ol {
		list-style: none;
		counter-reset: footnote-counter;
	}

	.footnotes li {
		counter-increment: footnote-counter;
		display: table-row;
	}

	.footnotes li:before {
		content: "[" counter(footnote-counter) "]";
		display: table-cell;
		padding-right: 1em;
		vertical-align: top;
		font-weight: normal;
	}

	.footnotes li p {
		display: table-cell;
		margin: 0;
	}

	a.reversefootnote:not(.btn):not(.link__ui) {
		color: inherit;
		text-decoration: none;
	}

	/* blockquotes */

	blockquote {
		padding: var(--space-4);
		border-left: 2px solid var(--color-fg);
		margin: var(--space-4) 0;
	}

	blockquote > p {
		margin: 0;

		&::before,
		&::after {
			content: '"';
		}
	}
}

.post-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
}
