.header {
	border-bottom: 2px solid var(--color-fg);
	border-radius: var(--border-radius);
	width: 100%;
	padding: var(--space-2) var(--space-5);
	margin-bottom: var(--space-4);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media only screen and (min-width: 800px) {
		border: 2px solid var(--color-fg);
		margin: var(--space-4) 0;
	}
}

.header--cv {
	@media only print {
		display: none;
	}
}

.header__logo {
	font-weight: 500;
	font-size: 1.1rem;
}

.header__nav {
	display: flex;
	gap: var(--space-4);
	align-items: center;
}

.header__nav > .header__link {
	display: none;
	color: var(--color-fg);

	@media only screen and (min-width: 800px) {
		display: block;
	}
}
